@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
<link href="https://fonts.cdnfonts.com/css/segoe-script" rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/roboto-condensed" rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/big-black-bear" rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/big-john" rel="stylesheet">

<div class="body">
<div class="flex-container">
    <div class="left-section-1">
        <img class="head-pic" src="img\smashburger.png" />
    </div>

    <div class="right-section-1">
        <h2 class="big-text">HUNGRY?</h2>
        <p class="slogan">
            Time to find out what you've been missing
        </p>
    </div>
</div>

<div class="order-button">
    <a class="order-now" asp-page="/Menu"> Order Now</a>
</div>

<div class="middle-section">
    <div class="title">
        Our Best Selling
    </div>
    </div>

</div>