@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
<link href="https://fonts.cdnfonts.com/css/roboto-condensed" rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/big-john" rel="stylesheet">


<div class="homepage">
        <div class="index-container">
            <div class="left">
                <img src="img\smashburger.png" />
            </div>

            <div class="right">
                <div class="text-one">
                    <h2>HUNGRY?</h2>
                </div>

                <div class="text-two">
                    <p>
                    Time to find out what you've been missing
                    </p>
                </div>
            </div>
        </div>
</div>

