@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
<link href="https://fonts.cdnfonts.com/css/segoe-script" rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/roboto-condensed" rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/big-black-bear" rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/big-john" rel="stylesheet">

    <img class="background-img" src="img\background.png" />
<section class="first-home">
<div class="flex-container">
    <div class="left-section-1 flex-content">
        <img class="head-pic" src="img\smashburger.png" />
    </div>

    <div class="right-section-1 flex-content">
        <h2 class="big-text">HUNGRY?</h2>
        <p class="slogan">
            Time to find out what you've been missing
        </p>
        <div class="order-button">
            <a class="order-now" asp-page="/Menu"> Order Now</a>
        </div>
    </div>
</div>
</section>

<section class="top-menu">
    <h1 class="top-sell"> Our Best Selling</h1>

    <div class="image-container">
        <img src="img/chicken-sandwhich.png" />
        <img src="img/burger.png">
        <img src="img/double-burger.png">
    </div>

    <div class="text-container">
        <p>Chicken Sandwhich</p>
        <p>Double Chicken Burger</p>
        <p>Barbeque Beef Burger</p>
    </div>

</section>

<section class="third-home">
    <h1 class="our-ingrediant">Our Ingredients</h1>
    <div class="container-small">
        <p class="made-with">Made with</p>
        <h3 style="color: red">Love</h3>
    </div>
    
    <img class="flying-burger" src="img/flying-burger.png" />

    <div class="content-top-bread">
        <h2>Freshly Breads</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Quisque rutrum efficitur blandit. Pellentesque purus lectus,

        </p>
    </div>

    <div class="content-Cheese">
        <h2>High-Protein Cheese</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Quisque rutrum efficitur blandit.
        </p>
    </div>

    <div class="content-lettuce">
        <h2>Self-Grown Veggie</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Quisque rutrum efficitur blandit. Pellentesque purus lectus,
            porta sit amet massa volutpat, eleifend pretium dui.
        </p>
    </div>

    <div class="content-meat">
        <h2>Juicy Meat</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Quisque rutrum efficitur blandit. Pellentesque purus lectus,
            porta sit amet massa volutpat, eleifend pretium dui.
        </p>
    </div>

</section>