@page
@model J89582.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<link rel="stylesheet" href="~/css/Menu.css" asp-append-version="true" />


<div class="menu">
    <div class="title">
        <h2> Our Menu </h2>
    </div>

    <div class="table-menu">
        <table class="table">
        
            <tbody>
                @foreach (var item in Model.Menu)
                { var imagePath = @"img\" + item.ID + ".png";
                    <tr>
               
                        <td> @Html.DisplayFor(modelItem => item.MenuName) </td>
                        <td> $@Html.DisplayFor(modelItem => item.Price) </td>
                        <td class="img">
                        <img class="menu-img" src="@imagePath">
                        </td>

                        <td>
                            <button type="submit" asp-page-handler="Buy"
                                asp-route-itemID="@item.ID">
                                Buy
                            </button>
                        </td>

                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
