@page
@model J89582.Pages.uploadModel
@{
    ViewData["Title"] = "Upload File";
}

<div class="upload">
<div>
    <h1>Upload File</h1>
</div>

<form method="post" enctype="multipart/form-data">
    <input asp-for="UploadedFile" />
    <input type="submit" />
</form>
    <a asp-page="Admin/Index">Back to List</a>
</div>
