body {
    min-height: 100%;
}

.background-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    top: 10px;
    height: 40vw;
    width: 100%;
}

.flex-content {
    width: 100%;
}

.head-pic {
    width: 100%;
    margin: 20px 20px;
    padding-top: 25px;
    height: 35vw;
    position: relative;
    top: 2vw;
    float: left;
}

.big-text {
    font-family: 'Big John', sans-serif;
    font-weight: 700;
    font-size: 7vw;
    text-align: center;
    color: white;
    position: relative;
    letter-spacing: 10px;
    top: 150px;
    float: right;
    right: 5vw;
}

.slogan {
    color: #dadada;
    font-family: 'Roboto Condensed Light', sans-serif;
    font-size: 40px;
    text-align: center;
    position: relative;
    top: 150px;
    float: right;
    right: 5.5vw;
}


.order-button {
    background-color: #2b2d42;
    height: 3vw;
    width: 10vw;
    float: right;
    position: absolute;
    right: 20vw;
    bottom: 20vh;
    border-radius: 15px;
    text-align: center;
}

.order-now {
    display: block;
    text-decoration: none;
    margin-top: 10px;
}

.top-sell {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px;
}


.row-menu {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    align-content: center;
}

.column-menu img {
    align-content: center;
    width: 50vh;
}
