html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    min-height: 100%;
}

header {
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 100%;
    text-align: center;
    background-color: grey;
}

a.navbar-brand {
    color: white;
    font-family: 'Cinzel Decorative', sans-serif;
    font-weight: 600;
    font-size: 2vw;
    position: relative;
    top: 23px;
}

ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}

li {
    display: flex;
    flex-direction: row;
    position: relative;
}

.nav-item {
    float: left;
    align-items: center;
    display: flex;
    flex-direction: row;
}

a.navbar {
    font-size: 1.5vw;
    text-decoration: none;
    padding: 14px 16px;
    color: #dadada;
}

.navbar-container {
    position: relative;
    right: 0.5vw;
    text-align: center;
    display: block;
    color: #dadada;
    padding: 14px 16px;
    text-decoration: none;
}

.admin-page {
    position: absolute;
    width: 100%;
    top: 150px;
    margin-left: auto;
    margin-right: auto;
}