@page
@model J89582.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<link rel="stylesheet" href="~/css/Login.css" asp-append-version="true" />

<section class="login">
<h2>Login</h2>
<form method="post">
    <h4>Use a local account to log in.</h4>
    <hr />
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" />
        <span asp-validation-for="Input.Email"></span>
    </div>
    <div>
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" />
        <span asp-validation-for="Input.Password"></span>
    </div>
    <div>
        <button type="submit">Log in</button>
    </div>
</form>
</section>